@use '../custom' as *;
@use '../components/mixins' as *;

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.intros {
  a {
    text-decoration: none;
    color: $white;
    font-weight: 700;
  }
  .profile-photo {
    position: relative;
    img {
      max-width:300px;
      max-height:250px;
      width: auto;
      height: auto;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
      animation: morphing 5s infinite ease;
      overflow: hidden;
    }
  }
}
